@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Mistral";
  src: url("/fonts/MISTRAL.TTF") format("truetype");
}

/* Text shadow  */
.text-shadow-md {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Navbar  */
.we-offer:hover .we-offer-dropdown {
  display: flex;
}

.hover-link::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0px;
  width: 0px;
  height: 1.3px;
  background-color: #f7942a;
  transition: all 0.3s ease;
}

.hover-link:hover::before {
  width: 100%;
}

/* Fade in animation => Slider  */
.fade-in {
  opacity: 0;
  animation: fade-in 3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
