@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

.slick-dots {
  bottom: 13px !important;
}

.slick-dots li {
  margin: 0px 2px !important;
}

.slick-dots li button {
  padding: 0px !important;
  background-color: white;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  font-size: 10px !important;
}

.slick-dots li button:before {
  color: white !important;
  font-size: 10px !important;
}

/* Toottip styling  */

.MuiTooltip-popper[data-popper-placement*="top"] .MuiTooltip-tooltip {
  margin-bottom: -4px !important;
}

.MuiTooltip-tooltip {
  max-width: none !important;
  background-color: black !important;
  border-color: black !important;
  padding: 0px !important;
  outline: none !important;
}

.MuiTooltip-arrow {
  color: black !important;
}

/* Styling snackbar  */
.connect-btn .MuiSnackbarContent-root {
  background-color: black;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: none !important;
  border-radius: 3px;
  overflow: hidden;
}

.connect-btn .MuiSnackbarContent-message {
  padding: 0px;
  border-radius: 3px !important;
  overflow: hidden;
}

/* Styling snackbar  */
.action-email .MuiSnackbarContent-root {
  background-color: black;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: none !important;
  border-radius: 3px;
  overflow: hidden;
}

.action-email .MuiSnackbarContent-message {
  padding: 0px;
  border-radius: 3px !important;
  overflow: hidden;
}

.MuiModal-backdrop {
  background-color: #0000000d !important;
}

.we-offer:hover .we-offer-dropdown {
  display: flex;
}

.hover-link::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0px;
  width: 0px;
  height: 1.3px;
  background-color: #f7942a;
  transition: all 0.3s ease;
}

.hover-link:hover::before {
  width: 100%;
}

/* Fade in animation  */
.fade-in {
  opacity: 0;
  animation: fade-in 3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MUI modal component styling  */
.MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.459) !important;
}
